body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

//! Header block

.header__wrap {
    width: 1440px;
    margin: 28px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #383838;
}

.logo {
    font-weight: 400;
}

//! Section photo
.photo {
    padding-bottom: 80px;
}

.photo__wrap {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo__slider {
    position: relative;
}

.photo__arrows,
.slider__arrows {
    width: 200px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .photo__arrow-left,
    .photo__arrow-right,
    .slider__arrow-left,
    .slider__arrow-right {
        display: block;
        margin: 42.5px;
        transition: opacity 0.5s;
        padding: 10px;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

//!Memory
.memory__wrap {
    width: 830px;
    text-align: center;
    margin: 150px auto 0;
    font-weight: 400;
    color: #383838;
    font-style: normal;

    .memory__title {
        font-size: 36px;
        line-height: 44px;
        font-weight: 400;
    }

    .memory__text-own,
    .memory__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 32px 0;
    }

    .memory__text-big {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

    }

    .memory__candle {
        display: block;
        margin: 32px auto 0;
    }
}

//! Slider block
.slider {
    margin-top: 150px;
}

.slider__wrap {
    width: 1440px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .slider__arrows {
        right: 0px;
    }
}

.btn {
    display: block;
    border: none;
    padding: 28px 48px;
    background-color: #97917A;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: opacity 0.5s;

    &:hover {
        opacity: 0.7;
    }
}

//! Comments block
.comments {
    margin-top: 150px;

    .comments__wrap {
        width: 800px;
        margin: 0 auto;
        text-align: center;

        .comments__title {
            font-weight: 400;
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 100px;
        }



        .comments__people {
            margin-top: 60px;

            .comments__title-comment {
                text-align: left;
                margin: 11px 0 11px 60px;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                position: relative;

                &::before {
                    content: '';
                    background-image: url(../assets/img/invert.svg);
                    background-repeat: no-repeat;
                    width: 35px;
                    height: 27px;
                    position: absolute;
                    left: -60px;
                }
            }

            .comments__text-comment {
                text-align: left;
            }
        }

        .comments__btn {
            margin-top: 72px;
        }
    }
}

//! Author block

.author {
    background-color: #F7F7F7;
    margin-top: 150px;
}

.author__wrap {
    width: 800px;
    margin: 0 auto;
    padding: 162px 0;
    text-align: center;

    .author__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .author__text {
        margin: 36px 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}

//! Footer block
.footer {
    margin: 150px 0 50px;
}

.footer__wrap {
    width: 245px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;

    .footer__candle {
        display: block;
        margin: 0 auto;
    }

    .footer__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    .footer__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .years {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}